@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  button:not(:disabled), 
  [role="button"]:not(:disabled),
  a:not([disabled]) {
    cursor: pointer !important;
  }
}
/* Ép buộc ẩn con mắt mặc định của Microsoft Edge */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}